@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-brick-50 text-charcoal font-sans antialiased overflow-x-hidden;
}

::selection {
  @apply bg-brick-600 text-white;
}

img {
  max-width: 100%;
  height: auto;
}
